<!--Body Header section start-->
<div>
    <section>
        <div class="page_header_section"> <!-- [style.background]="'url(' + FILE_URL+bannerImage + ')'" -->
            <!-- <img [src]="FILE_URL+bannerImage" style="height: 440px;"> -->
            <img src="assets/images/privacybanner.webp" style="height: 440px;">
        </div>
    </section>
    <!--Body Header section end-->
    <!--Body section one start-->
    <section class="blue_bg  py-3 header_below_section">
        <div class="container">
            <div class="row text-center">
                <h1 class="white_text">Cancellation and Refund
                </h1>
            </div>
        </div>
    </section>
    <section class="white_bg">
        <div class="container">
            <div class="row text-center">

                <div class="common-language-para-text">
                    <div class="sppb-addon-content"><p>We can cancel your order if a request is made within 24 hours of placing the order. The request has to be made at&nbsp;wecare@wowl.in&nbsp;with your registered email ID.</p>
                        <h3 class="common-head-text privacyHead"><strong>Refund Policy</strong></h3>
                        <p>All products come with a preview class for assessment and understanding. Once a product is bought and downloaded no refund request will be accepted by the company.</p>
                        <p>A Refund Request will be deemed valid only if it is made within 24 hrs of purchase and the product is not downloaded. The request should be made through an email to&nbsp;wecare@wowl.in.</p>
                        <p>No Refund will be provided after 24 hrs of purchase and if the product is downloaded.</p>
                        <p>Refunds shall be made to bank account within 10 working days of receipt of products.</p></div>
                </div>

            </div>
        </div>
    </section>


</div>