<!-- Video Slider Start -->
<section id="banner">
  <video id="videobcg" [preload]="true" [autoplay]="true" [loop]="true" [muted]="true">
    <source src="assets/videos/header-lores.mp4" type="video/mp4" />
    Sorry, your browser does not support HTML5 video.
  </video>
  <div class="row mb-3 text-center slider-top-logo-section">
    <div class="col-6 themed-grid-col slider-top-left-logo">
      <a (click)="goto('/')"><img src="assets/images/WOWL-logo.png" /></a>
    </div>
    <div class="col-6 themed-grid-col slider-top-right-logo">
      <img src="assets/images/header-logo-ueg.webp" />
    </div>
  </div>
  <!--carousel start -->
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>New language. New world.</h1>
            <p>New you.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Learn language online</h1>
            <p>from native speakers</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Foreign language courses</h1>
            <p>following CEFR guidelines</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>British TESOL programme</h1>
            <p>for English Teachers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--carousel end -->
  <p class="video_carousel_para">
    Here is the language you want to speak. Take your pick.
  </p>
  <div class="row mb-5 text-center language_color_icon">
    <div class="col-md-2 themed-grid-col"></div>
    <div class="col-6 col-md-2 themed-grid-col" *ngFor="let obj of headerCategoryButtonArr" style="cursor: pointer;"
      (click)="goto(obj.path)">
      <div class="cat-button">
        <div class="cat-logo-img">
          <img [src]="FILE_URL+obj.logo" />
        </div>
        <span>
          {{obj.categoryTypeName}}
        </span>
      </div>
    </div>
    <div class="col-md-2 themed-grid-col"></div>
  </div>
</section>
<!-- Video Slider End -->
<!-- Menu Start -->
<nav id="navbar_top" [ngClass]="{'fixed-top': isNav === true}" class="navbar navbar-expand-lg"
  aria-label="Offcanvas navbar large" (mouseleave)="removeClass()">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goto('/')"><img src="assets/images/WOWL-logo.png" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark green_bg" tabindex="-1" id="offcanvasNavbar2"
      aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
          <img src="assets/images/offcanvas-WOWL-logo.png" />
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav navbar-center flex-grow-1 pe-3">
          <li class="nav-item" *ngFor="let obj of menuArr; let i = index" [ngClass]="{'dropdown': obj.child.length>0}">
            <div *ngIf="obj.child.length==0">
              <a class="nav-link" aria-current="page" (click)="goto(obj.path)"
                (mouseenter)="removeClass()">{{obj.name}}</a>
            </div>
            <div *ngIf="obj.child.length>0">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                (mouseenter)="addClass(i)" (click)="goto(obj.path)">
                {{obj.name}}
              </a>
              <span class="dropdown-toggle mobile_main_menu_arrow" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"></span>
              <ul class="dropdown-menu" [ngClass]="{'show': obj.navDropdown === true}" (mouseleave)="removeClass()">
                <li>
                  <span *ngFor="let data of obj.child" class="dropdown-item">
                    <!-- <a *ngIf="data.href"  (click)="gotoHref(data.path)">{{data.name}}</a> -->
                    <a *ngIf="!data.href" (click)="goto(data.path)">{{data.name}}</a>
                  </span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <a *ngIf="!this.common.getUserId()"  (mouseenter)="removeClass()" class="btn btn-outline-success login_reg_menu_button" (click)="login()">Sign
          In / Sign up</a>
        <div *ngIf="this.common.getUserId()"  (mouseenter)="removeClass()">

          <span class="mx-2">
            <button class="menuButton" [matMenuTriggerFor]="menu1" [disabled]="notificationArr.length == 0">
              <img class="notification-img" src="assets/images/notification.png"/>
            </button>
            <span *ngIf="notificationArr.length !== 0" class="notification-img-badge">{{notificationArr.length}}</span>
            <mat-menu #menu1="matMenu">
              <ul class="notify">
                <li *ngFor="let notifiy of notificationArr; let i = index">
                  <span class="notify-head">{{i+1}}. {{notifiy.title}}</span>
                  <p class="notify-desc">{{notifiy.description}}</p>
                </li>
              </ul>
            </mat-menu>
          </span>
          <button class="menuButton" [matMenuTriggerFor]="menu">

            <img *ngIf="this.common.getUserImage()" [src]="FILE_URL+this.common.getUserImage()" height="50" width="50" style="border-radius: 50%;" />

            <img *ngIf="!this.common.getUserImage()" src="assets/images/MyProfile.png" height="50" width="50" />
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="profile()">Profile</button>
            <button mat-menu-item (click)="gotoCertificate()">Certificate</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>

      </div>
    </div>
  </div>
</nav>
<!-- Menu End -->
<!--Body section one start-->
<section class="grey_bg">
  <div class="container">
    <div class="row text-center">
      <h1 class="full_cap_head">WORLD-CLASS FOREIGN LANGUAGE COURSES ONLINE</h1>
      <h3 class="common-head-text">Why WOWL</h3>

      <div class="container py-3">
        <div class="row mb-3 text-center">
          <!--Body section white box start-->
          <div class="col-sm-4 themed-grid-col why-wowl-box-full" *ngFor="let data of whyWowlArr">
            <div class="home-why-wowl-white-bg">
              <div class="row why-wowl-box">
                <div class="col-2"><img [src]="FILE_URL + data.logo" /></div>
                <div class="col-10">
                  <h3>{{data.title}}</h3>
                </div>
              </div>
              <div class="why-wowl-box-para">
                <p [innerHTML]="data.description">
                </p>
              </div>
            </div>
          </div>
          <!--Body section white box end-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Body section one End -->
<!--Body section two start-->
<section class="white_bg_one">
  <div class="container">
    <div class="row text-center pb-4">
      <h3 class="common-head-text mb-3">{{teacher_leadObj.title}}</h3>
      <div class="container teachers_take_the_lead mt-3">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-7 order-md-3">
            <p class="ttl-cls align-middle" [innerHTML]="teacher_leadObj.description">
            </p>
          </div>
          <div class="col-md-1 order-md-2"></div>
          <div class="col-md-4 order-md-1">
            <div class="image_vdoe image-videos-banner"> 
              <svg *ngIf="!videoDiv" (click)="playVideo()" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
              </svg>
              <img *ngIf="!videoDiv" [src]="FILE_URL+teacher_leadObj.thumbnailImage"  (click)="playVideo()" />
              <div *ngIf="videoDiv" id="video-container1"></div>
            </div >
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Body section two End -->
<!-- Body section three Start -->
<section class="teachers white_bg_two"  id="teacher-profile">
  <div class="container">
    <div class="row text-center pt-4 ">
      <div id="tech_caro" class="owl-carousel owl-theme">
        <a *ngFor="let data of educatorArr">
          <div class="item teacher_profile_carousel">
            <img [src]="FILE_URL+data.educatorphotouri"
              onerror="this.onerror=null; this.src='assets/images/person.png'" />
            <div class="teacher_container">
              <h4 class="teacher_name">
                <span *ngIf="isMobile && data.educatorname.length > 20">{{data.educatorname.substring(0, 16)}}...</span>
                <span *ngIf="isMobile && data.educatorname.length <= 20">{{data.educatorname}}</span>
                <span *ngIf="!isMobile">{{data.educatorname}}</span>
              </h4>
              <h5 class="teacher_profile">{{data.categoryTypeName}} Language</h5>
              <p class="readmore" (click)="gotoEducator(data.educatorid)">See profile</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Body section three End -->
<!-- Body section four Start -->
<section class="teachers white_bg_two teachers-blow">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a class="home_see_all_teachers_button btn btn-outline-secondary" (click)="goto('/all-eductors')">See all
          teachers</a>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<!-- Body section four End -->
<!-- Body section five Start -->
<section class="teachers home_body_whatsapp_section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="tel:7044656990">
        <div class="container blue_bg home_body_whatsapp">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-5">
              <p class="align-middle">
                Start a private chat now and ask for more clarifications
              </p>
            </div>
            <div class="col-md-2">
              <img src="assets/images/whatsapp.svg.webp" />
            </div>
            <div class="col-md-5">
              <a class="wp-numb"> 7044656990</a>
            </div>
          </div>
        </div>
      </a>
      </div>
     
    </div>
  </div>
</section>
<!-- Body section five End -->
<!-- Body section six Start -->
<section class="teachers grey_bg_two tesol_section">
  <div class="container">
    <div class="row mb-3 text-center">
      <h3 class="common-head-text mb-3" >
        {{landingTitle}}
      </h3>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-4">
            <img [src]="FILE_URL + landingContentimg" />
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <p class="align-middle" [innerHTML]="landingDescription">
              
            </p>
            <a (click)="gotoDetails()" class="home_see_all_teachers_button btn btn-outline-secondary">Explore Teachers' Training
              Programmes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Body section six End -->
<!-- Body section seven Start -->
<section id="wowl-team" class="teachers white_bg" >
  <div class="container">
    <div class="row mb-3 text-center">
      <h3 class="common-head-text mb-3 team_main_head">Team WOWL-UEG</h3>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <!-- Team Image Start -->
          <div class="col-6 col-md-3" *ngFor="let data of teamwowlList">
            <div class="team-wowl-ueg-image">
              <img [src]="FILE_URL+data.image" />
              <div class="team-wowl-ueg-image-text">
                <h3>{{data.name}}</h3>
                <h4>{{data.designation}}</h4>
              </div>
            </div>
          </div>
          <!-- Team Image End -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Body section seven End -->
<!-- Body section eight Start -->
<section class="teachers grey_bg_two">
  <div class="container">
    <div class="row mb-3 text-center">
      <h3 class="common-head-text mb-3">
        {{landingTitle1}}
      </h3>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center ueg_wowl_home_last_section">
          <div class="col-md-8">
            <img [src]="FILE_URL + landingContentimg1" />
          </div>
          <div class="col-md-4">
            <p class="align-middle" [innerHTML]="landingDescription1">
              
            </p>
            <a (click)="gotoLanding()" class="home_see_all_teachers_button btn btn-outline-secondary">Know more about the project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Body section seven End -->
<!-- Footer section Start -->
<app-footer></app-footer>
<!-- Footer section End -->

<button class="scroll_to_top btn btn-sm btn-primary rounded-circle position-fixed bottom-0 end-0 translate-middle "
  (click)="scrollToTop()" [ngClass]="{'d-none': isTop === true}" id="back-to-up">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</button>

<notifier-container></notifier-container>