.light{
    font-weight: 300;
}
.contain{
    padding: 10px 50px;
}
.leftbar{
    border-left: 1px solid #ccc;
    position: fixed;
    height: 100%;
    right:0;
    top: 20px;
}
#logbox{
    font-size: 16px;
    color: #888;
    overflow-wrap: anywhere;
    overflow-y: scroll;
    height: 90%;
}