<main role="main" class="pb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="top_scne">
                <div class="top_scne_in">
                    <h1 class="add_heading_text">Promocode</h1>
                    <button class="btn btn-edtng" *ngIf="!updateFlag">Creating</button>
                    <button class="btn btn-edtng" *ngIf="updateFlag">Editing</button>
                </div>
                <!-- <div class="top_scne_rt"><button class="btn btn-preview" *ngIf="educatorsId"
                        (click)="goToPreview()">Preview</button></div> -->
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="name" class="form-label lebel-text">Promocode</label>
                    <input type="text" placeholder="Enter promocode" class="form-control input-text"  (keyup)="clearpromocodeErr()"
                        [(ngModel)]="promocode" />
                    <span class="error-msg" *ngIf="promocodeErr">Promocode name required</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="offertype" class="form-label lebel-text">Offer Type</label>
                    <select class="form-select input-text" aria-label="Default select example" (change)="clearoffertypeErr()"
                        [(ngModel)]="offerType" >
                        <option value="">Select</option>
                        <option *ngFor="let item of offertypeList" [value]="item.type">{{item.name}} 
                        </option>
                    </select>
                    <span class="error-msg" *ngIf="offertypeErr">Selet offer type</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="amount" class="form-label lebel-text">Offer Amount</label>
                    <input type="number" class="form-control input-text" placeholder="Enter offer amount" (keyup)="clearofferamountErr()"
                        [(ngModel)]="offerAmount" />
                    <span class="error-msg" *ngIf="offeramountErr">Offer amount required</span>

                </div>
                <div class="mb-3 col-md-6">

                    <label for="readinglimit" class="form-label lebel-text">Reading Limit</label>
                    <input type="number" class="form-control input-text" placeholder="Enter reading Limit" (keyup)="clearreadinglimitErr()"
                        [(ngModel)]="readingLimit" />
                    <span class="error-msg" *ngIf="readinglimitErr">Reading limit required</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label lebel-text">Validity Start Date</label>
                    <input type="date" class="form-control input-text" placeholder="Enter start date" (change)="clearstartdateErr()"
                        [(ngModel)]="validityStartDate" />
                    <span class="error-msg" *ngIf="startdateErr">Validity start date required</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label lebel-text">Validity End Date</label>
                    <input type="date" class="form-control input-text" placeholder="Enter end date" (change)="clearenddateErr()"
                        [(ngModel)]="validityEndDate" />
                        <span class="error-msg" *ngIf="enddateErr">Validity end date required</span>
                    </div>
            </div>

        </div>

        <div class="bottom-secne" style="text-align: center;">
            <button class="delete-button btn btn-primary" (click)="opendeletemodal(deleteModal)" *ngIf="updateFlag" >Delete
                Promocode</button>
            <div *ngIf="!updateFlag"></div>
            <div>
                <button class="cancel-button btn btn-primary" (click)="resetForm()">Cancel</button>
                <button class="submit-button btn btn-primary" *ngIf="!updateFlag" (click)="addPromocode()">Save</button>
                <button class="submit-button btn btn-primary " *ngIf="updateFlag"
                    (click)="updatePromocode()">Save</button>
            </div>
        </div>
    </div>
</main>

<ng-template #deleteModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h4 class="modal-title d-inline-block align-middle me-2">
                            Are you want to sure delete this promocode?
                        </h4>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2" (click)="closeModal()">No</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-primary btn-lg me-2"
                            (click)="deletePromocode()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>