
<main role="main" class="pb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="top_scne">
                <div class="top_scne_in">
                    <h1>Course Subscription</h1>
                    <button class="btn btn-edtng" (click)="add()">Create New</button>
                </div>
                </div>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
        <div class="row">
            <div class="col-md-12 ">
                    <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="table-responsive">
                            <table id="datatables-column-search-select-inputs" class="table table-no-striped dataTable"
                                style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                                <thead class="thead-dark">
                                    <tr role="row">
                                        <th class="sorting align-middle">Sl No.</th>
                                        <th class="sorting align-middle">Course name</th>
                                        <th class="sorting align-middle">Plan name</th>
                                        <th class="sorting align-middle">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="courseSubscriptionList.length == 0">
                                        <td class="text-center" colspan="20"><h4>No Data Found!</h4></td>
                                    </tr>
                                    <tr role="row" class="odd" *ngFor="let item of courseSubscriptionList; let i = index">
                                        <td class="align-middle">{{i+1}}.</td>
                                        <td class="align-middle">{{item.coursename}}</td>
                                        <td class="align-middle">{{item.planname}}</td>
                                        <td class="align-middle">
                                                <button class="btn btn-arow" (click)="edit(item.id)"><i class="fa fa-chevron-right"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        
                        <div class="d-xl-flex align-items-center mt-3 pegin_sec" *ngIf="courseSubscriptionList.length > 0">
                            <div class="col-auto d-block">
                                <div class="text-center">
                                    <div class="dataTables_length"><label>Course subscriptions per page
                                            <select name="datatables-reponsive_length" aria-controls="datatables-reponsive"
                                                class="form-select form-select-sm" (change)="changePagelimit($event)"
                                                [(ngModel)]="selectedVal">
                                                <option *ngFor="let item of pageList" [value]=item.value>{{item.name}}
                                                </option>
                                            </select> {{offset + 1}} - {{offset + limit}}</label>
                                        <label class="mx-2">
                                            <button class="btn btn-dark text-white" [disabled]="previousBtnDesable" (click)="previousPage()"><img src="assets/img/chevron-left.svg" alt="chevron-left" ></button> 
                                            &nbsp;
                                            <button class="btn btn-dark text-white" [disabled]="nextBtnDesable" (click)="nextPage()"><img src="assets/img/chevron-right.svg" alt="chevron-right" ></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
    </div>
</div>
    
</main>