<ng-template #deleteModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h4 class="modal-title d-inline-block align-middle me-2">
                            Are you sure, you to sure delete this assesment?
                        </h4>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2" (click)="closeModal()">No</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-primary btn-lg me-2" (click)="delete()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>



<main role="main" class="pb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="top_scne">
                <div class="top_scne_in">
                    <h1 class="add_heading_text">Speaking Assesment</h1>
                    <button class="btn btn-edtng" *ngIf="!assesmentid">Creating</button>
                    <button class="btn btn-edtng" *ngIf="assesmentid">Editing</button>
                </div>
                <!-- <div class="top_scne_rt"><button class="btn btn-preview" *ngIf="exerciseid"
                        (click)="goToPreview()">Preview</button></div> -->
            </div>

        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="row">

                <div class="mb-3 col-md-6">
                    <label for="name" class="form-label lebel-text">Course Name </label>
                    <input type="text" [(ngModel)]="coursename" (keyup)="searchCourseByName()" [matAutocomplete]="auto"
                        class="input-text form-control" placeholder="Search..." />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getCourseIdByName()">
                        <mat-option *ngIf="spinner">
                            <mat-spinner style="width:50px;"></mat-spinner>
                        </mat-option>
                        <mat-option *ngFor="let item of courseArr" [value]="item.coursename">
                            {{ item.coursename }}
                        </mat-option>
                    </mat-autocomplete>
                    <span class="error-msg" *ngIf="coursenameErr">Course name required</span>
                </div>
                    <div class="mb-3 col-md-12">
                        <mat-card class="mb-3" *ngFor="let obj of questionList;let i=index">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <label class="form-label lebel-text">Question No. {{i+1}}</label>
                                                <input type="text" class="form-control input-text mt-2"
                                                    [(ngModel)]="obj.question" (keyup)="changeQueFun(obj)">
                                                <span *ngIf="obj.questionErr" class="error-msg">Question required</span>

                                            </div>
                                            <div class="col-sm-1">
                                                <i *ngIf="questionList.length>1 && i!==0"
                                                    class="fa fa-trash deletebtn mt-5"
                                                    style="font-size:24px;  cursor: pointer;" (click)="remove(i)"></i>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                            </mat-card-content>
                        </mat-card>

                    </div>
                    <div class="col-sm-12 mt-2" *ngIf="!assesmentid">
                        <button (click)="addMore()" class="add_more" style="float: right;"><img
                                src="assets/img/addmore.png" style="width: 40px; " /><span>Add More
                                Question</span></button>
                    </div>
              
            </div>
        </div>

        <div class="bottom-secne" style="text-align: center;">
            <button class="delete-button btn btn-primary" *ngIf="assesmentid"
                (click)="onClickDelete(deleteModal)">Delete Assesment</button>
            <div *ngIf="!assesmentid"></div>
            <div>
                <button class="cancel-button btn btn-primary" (click)="resetForm()">Cancel</button>
                <button class="submit-button btn btn-primary" *ngIf="!assesmentid" (click)="add()">Save</button>
                <button class="submit-button btn btn-primary " *ngIf="assesmentid" (click)="edit()">Save</button>
            </div>

        </div>


    </div>
</main>