<!--Body Header section start-->
<div>
    <section>
        <div class="page_header_section"> <!-- [style.background]="'url(' + FILE_URL+bannerImage + ')'" -->
            <!-- <img [src]="FILE_URL+bannerImage" style="height: 440px;"> -->
            <img src="assets/images/privacybanner.webp" style="height: 440px;">
        </div>
    </section>
    <!--Body Header section end-->
    <!--Body section one start-->
    <section class="blue_bg  py-3 header_below_section">
        <div class="container">
            <div class="row text-center">
                <h1 class="white_text">Digital Safeguarding
                </h1>
            </div>
        </div>
    </section>
    <section class="white_bg">
        <div class="container">
            <div class="row text-center">

                <div class="common-language-para-text">
                    <div class="sppb-addon-content"><h3 class="common-head-text privacyHead"><strong>INTERNET USAGE RISKS FOR STUDENTS AND</strong><br><strong class="common-head-text privacyHead">DIGITAL SAFEGUARDING ON WOWL APP</strong></h3>
                        <p>Along with the benefits the Internet brings, however, come risks to students. As well as the risks that all users face when going online, such as computer viruses and email scams, students are at risk from the following:</p>
                        <h3 class="common-head-text privacyHead"><strong>Cyberbullying</strong></h3>
                        <p>Cyberbullying is bullying that takes place over digital devices such as cell phones, computers, and tablets. Cyberbullying can occur through SMS, text, and mobile applications (apps) or online in social media, forums, or gaming where people can view, participate in, or share content. Cyberbullying includes sending, posting, or sharing negative, harmful, false, or mean content about someone else. It can include sharing personal or private information about someone else, causing embarrassment or humiliation.</p>
                        <p>Wowl app is totally safe as it does not allow access to other users' information or posting or sharing of text, image or video by the users targeting other users.</p>
                        <h3 class="common-head-text privacyHead"><strong>Inappropriate Content</strong></h3>
                        <p>Adolescents and children can unintentionally come into contact with inappropriate content, such as sexually explicit material. Unsolicited obscene or violent materials can also be received electronically.</p>
                        <p>Wowl app is totally safe as it does not allow posting content by anyone except the application owners who create proprietary content matching all statutory standards and for educational purpose only.</p>
                        <h3 class="common-head-text privacyHead"><strong>Sexting</strong></h3>
                        <p>Sexting is the sharing and receiving of sexually explicit messages and nude or partially nude images via text messages or apps. Possession of sexually explicit photos received by sexting can be considered a type of possession of child pornography from a legal perspective.</p>
                        <p>Wowl app is totally safe as it does not allow access to other users' information or posting or sharing of text, image or video by the users targeting other users.</p>
                        <h3 class="common-head-text privacyHead"><strong>Sextortion</strong></h3>
                        <p>Students may also become victim to sextortion, possibly via ransomware, if they engage in sexting. Sextortion occurs when someone threatens to distribute private and sensitive material if not provided with images of a sexual nature, sexual favours, or money.</p>
                        <p>Wowl app is totally safe as it does not allow access to other users' information or posting or sharing of text, image or video by the users targeting other users.</p>
                        <h3 class="common-head-text privacyHead"><strong>Oversharing&nbsp;</strong></h3>
                        <p>Personal information that is sometimes shared by students includes their name, age, address, phone number and other identity details stay on the internet almost eternally and might be used for wrong purposes if captured by wrong people.</p>
                        <p>Wowl app is totally safe as it does not allow access to other users' information or posting or sharing of text, image or video by the users targeting other users.</p>
                        <h3 class="common-head-text privacyHead"><strong>Online Predation</strong></h3>
                        <p>Online predators put victims through “the grooming process,” a series of steps by which they build the victim’s trust by sympathizing with him or her or feigning common interests, after which they proceed to set up a face-to-face meeting with the victim and then move forward with manipulation and seduction.</p>
                        <p>Wowl app is totally safe as it does not allow access to other users' information or posting or sharing of text, image or video by the users targeting other users.</p></div>
                </div>

            </div>
        </div>
    </section>


</div>