<div id="self-modal" tabindex="-1" aria-labelledby="self-modalLabel" aria-hidden="false">
    <div class="modal-content">
        <div class="modal-header p-0 border-0">
            <button type="button" class="btn-close new-clos-btn" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <div style="text-align: center;">
               <img class="coming-soon-img" src="../../../assets/images/comingsoon.png"/>
            </div>
        </div>
    </div>
</div>
