<app-login-header></app-login-header>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="log-text">Log in</h2>
            <p class="log-text"> Use a local account to log in </p>
            <hr>
            <div class="mb-3">
                <label for="InputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" [(ngModel)]="username" style="width: 60%;">
            </div>

            <div class="mb-3">
                <label class="form-label" for="inlineFormInputGroup">Password</label>
                <div class="input-group" style="width: 60%;">
                    <input [type]="passwordFlag" class="form-control" id="inlineFormInputGroup" [(ngModel)]="password" style="width: 60%;">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="bi" [ngClass]="showHideFlag? 'bi-eye' :'bi-eye-slash'"  (click)="showHide()" style="cursor: pointer;"></i></div>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me?</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">Log In</button>

            <!--<div class="links">

                <a>Forgot your password?</a>
                <a>Register as a new user</a>
            </div>-->

        </div>
    </div>
</div>

<app-login-footer></app-login-footer>


<notifier-container></notifier-container>