<div id="self-modal" tabindex="-1" aria-labelledby="self-modalLabel" aria-hidden="false">
    <div class="modal-content">
        <div class="modal-header p-0 border-0">
            <button type="button" class="btn-close new-clos-btn" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <h4 style="color: blue;">AWESOME !</h4>
            <hr class="big-green" />
            <div>
                <p>
                    You have taken a great step ahead.
                    You can access your course now.
                </p>
                <p class="m-0">{{renewalMsg}}</p>
                <span style="color: blue; display: block; margin-top:10px; margin-bottom: 20px;">Thank You</span>
            </div>
            <div>
                <h5 style="font-size: 18px;">Go to <span> <a>My Wowl</a></span></h5>
            </div>
        </div>
    </div>
</div>